@import "config";
@import "variables";

body {
  background-color: $Cream;
}

.attribution {
  font-size: 9px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  padding: 5px;
  background-color: white;
  font-family: $montserrat;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-card {
  display: flex;
  justify-content: center;

  .card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    position: relative;
    top: 140px;
    width: 600px;

    border-radius: 10px;
    overflow: hidden;
    background-color: white;
  }
}

.product-detail {
  padding: 32px;
  h3 {
    font-family: $montserrat;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 12px;
    color: $Dark-grayish-blue;
  }
  h1 {
    font-family: $fraunces;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 32px;
  }
  .description {
    font-size: small;
    font-family: $montserrat;
    line-height: 1.6;
    color: $Dark-grayish-blue;
  }
  .price {
    display: flex;
    justify-content: center;
    h4 {
      font-family: $fraunces;
      font-size: large;
    }
  }
}
